/* CSS Para la aplicacion.*/
.nav-link{
    text-decoration: none;
}

.Navbar{
    position: fixed;
    z-index: 2;
    width:100%;
}

.nav-link:hover{
  margin-left: 2%;
  opacity:0.4;
  transition: opacity 500ms, background-color 400ms, margin-left 300ms;
}

.nav-final{
    margin-right:5%;
}

.card-Investigation{
  opacity: 1;
  z-index:6;
}

.principal-content{
    padding-top:10%;
}

.bg-principal{
    width:100%;
    height:100%;
}

.margin-content{
    margin-left: 2%;
    margin-right:2%;
}

.Selection{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  z-index:5;
}

.selection-bg{
  background-color: rgba(0,0,0,0.7);
}

.button-exit{
  border: none;
  position:absolute;
  right:0;
  top:0;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 200ms, color 200ms;
}

.button-exit:hover{
  background-color:rgba(0, 0, 0, 0.9);
  transition: background-color 200ms;
}

.button-select{
  text-decoration: none;
  opacity:1;
  transition: opacity 200ms;
}

.button-select:hover{
  opacity: 0.3;
  transition: opacity 200ms;
}

.button-exit{
  position: absolute;
  top:0;
  right:0;
}

.section-left-card-investigation{
  border-right-color: rgba(19, 19, 19, 0.5);
  border-right-width: 2px;
  border-right-style: solid;
}

.contexto-div{
  border-top-color: rgba(19, 19, 19, 0.527);
  border-bottom-color: rgba(19, 19, 19, 0.527);
  border-top-style:solid;
  border-bottom-style:solid;
  border-top-width: 2px;
  border-bottom-width: 1px;
}

.title-proy{
  border-top-left-radius: 25%;
}

.calidad-section{
  border-width: 3px 0px;
  border-color: white;
  border-style: solid;
}

.Investigation{
  margin-bottom: 15%;
}

.section-left{
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: rgba(19, 19, 19, 0.5);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.contenedor-uf{
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.content-extended{
  animation-name: extension;
  animation-duration: 500ms;
}

.Estadio-Title{
  position:relative;
  top:0;
  width: 100%;
  margin-bottom: 2%;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.Recorrido{
  width:90%;
}

.ReporteCalidad{
  animation-name: reporte;
  animation-duration:2000ms;
  height: 25%;
}

.selected{
  transition: color 300ms;
}

@keyframes extension{
  0%{
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}

@keyframes reporte{
  0%{
    opacity:0;
    transform: scaleY(0);
  }
  50%{
    opacity:0;
    transform: scaleY(1);
  }
  100%{
    opacity:1;
  }
}