.bg-p {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(91,111,245,1) 0%, rgba(0,212,255,1) 56%);
    
    min-height: 100%;
    min-width:1024px;
    
    width:100%;
    height:auto;

    position: fixed;
    top:0;
    left:0;
}